In [5]:
import pandas as pd 

path = "books_scraped.csv"

df = pd.read_csv(path, sep = ',')

In [6]:
print(df.head(5))

                                   Title       Book_category Star_rating  \
0                   A Light in the Attic              Poetry       Three
1                     Tipping the Velvet  Historical Fiction         One
2                             Soumission             Fiction         One
3                          Sharp Objects             Mystery        Four
4  Sapiens: A Brief History of Humankind             History        Five

   Price     Stock  Quantity
0  51.77  In stock        22
1  53.74  In stock        20
2  50.10  In stock        20
3  47.82  In stock        20
4  54.23  In stock        20